/* Utility classes */

/* green: 91c499 */
/* dark : 595959 */

.main-bg {
  background-color: #595959;
}

.sec-bg {
  background-color: #26a96c;
  color: white;
}

/* Genrale rules */

.sec-bg a {
  color: white;
}

.nav a {
  font-weight: bold;
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .form-container {
    width: 75%;
  }
}

/* Large devices */
@media only screen and (min-width: 992px) {
  .form-container {
    width: 50%;
  }
}
