<nav class="">
  <ul class="container nav">
    <li class="nav-item">
      <a class="nav-link active" href="{{ path("librairian")}}">Catalogue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path("librairian_new_book")}}">Ajout livre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path("librairian_users")}}">Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path("librairian_search")}}">Rechercher un livre</a>
    </li>
  </ul>
</nav>
